 body {
            background-color: #eaf6f6;
            }
            h1{
            color:#66bfbf;}
            h2{
            color:#66bfbf;}
            h3{
            color:#66bfbf;}

            hr {
            background-color: grey;
            border-style: dotted  none none;
            border-width:2px;
            width : 50%;

            }